<% provide(:title, "Обо мне") %>

<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "https://s3.ap-northeast-2.amazonaws.com/bexuma.com/profile-compressor.jpg" %>
	</div>

	<div id="content">
		<h1>Добро пожаловать на мой блог!</h1>
		<p>Меня зовут Бексултан. Мне нравится создавать веб-приложения и рассказывать истории из своей жизни.</p>
		<p>Здесь я делюсь уроками и открытиями, некоторые из которых вы найдете полезными.</p>
	</div>
</div>