<% provide(:title, "Обо мне") %>

<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "https://s3.ap-northeast-2.amazonaws.com/bexuma.com/profile-compressor.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Bexuma</h1>
		<p>Welcome to a space I tell stories, share my vision and have fun!</p>
		<p>I create web applications and write about lessons I learnt.</p>
		<p>If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter <a href="http://twitter.com/mackenziechild">@MackenzieChild</a> or on the web at <a href="http://mackenziechild.me">mackenziechild.me</a>, and get my posts and exclusive content in your inbox by signing up for my newsletter <a href="http://eepurl.com/02olT">here</a>.</p>
	</div>
</div>