<div id="page_wrapper">
	<h1>Editing Ten Thousand Day</h1>

	<%= render 'form', ten_thousand_day: @ten_thousand_day %>

	<%= link_to 'Show', @ten_thousand_day %> |
	<%= link_to 'Back', ten_thousand_days_path %>
<div id="page_wrapper">
