<% provide(:title, @ten_thousand_day.title) %>

<div id="post_content">

	<h1 class="title">
		<%= @ten_thousand_day.title %>
	</h1>
	<p class="date">
		<%= @ten_thousand_day.created_at.strftime("%B %d, %Y") %>
	</p>

	<% if user_signed_in? %>
		<%= link_to 'Edit', edit_ten_thousand_day_path(@ten_thousand_day) %>
	<% end %>

	<p class="body">
	  <%= markdown @ten_thousand_day.body %>
	</p>

</div>